/* General */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  background-color: var(--bs-gray-dark) !important;
  margin: 0; 
  padding: 0; 
  text-align: center; /* For IE */ 
  color: #ffffff;
  height: 100%;
}

.container-body {
  max-width: none;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-message {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  z-index: 100;
  text-align: center;
  color: var(--bs-dark);
}

/* Header */
.main-toggle-button {
  color: rgba(255,255,255,.55);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.main-toggle-toggler {
  color: rgba(255,255,255,.55);
  border-color: rgba(255,255,255,.1);
  border-top-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.1);
}

.header {
  color: var(--bs-white) !important;
  background: var(--bs-dark);
}

a.header-link:link {
  color: var(--bs-white);
}

a.header-link:visited {
  color: var(--bs-white);
}

a.header-link:hover {
  color: var(--bs-white);
}

a.header-link:active {
  color: var(--bs-white);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.nav-vertical-center {
  display: flex; 
  align-items: center;
}

.nav-logo {
  height: 40px;
}

.profile-menu {
  text: var(--bs-white);
  background-color: var(--bs-gray-dark);
}

.profile-menu-divider {
  background-color: var(--bs-gray-dark);
  border: 1px solid white;
}

a.profile-menu-item:link {
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);
}

a.profile-menu-item:visited {
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);
}

a.profile-menu-item:hover {
  color: var(--bs-white);
  background-color: var(--bs-dark);
}

a.profile-menu-item:active {
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);
}

/* Cards */
.repository-card-content {
  color: #fff !important;
  background-color: #6c757d !important;
}

.card-header-style {
  text-align: left;
  height:28px;
}

.card-logo {
  max-width: 100%;
  max-height: 100px;
}

.card-logo-container {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.card-description {
  text-align: left;
  height:120px;
  overflow: hidden;
}
.card-title {
  text-align: left;
  height:25px;
  overflow: hidden;
}

.card-footer-text {
  text-align: left;
  height: 23px;
}

/* Tags */
.tag-container {
  color: var(--bs-white);
  background: var(--bs-dark);
}

.tag-cell-text {
  text-align: left;
}

.tag-cell-header-text {
  max-width: 110px;
  min-width: 110px;
}

.tag-cell-content-text {
  min-width: 300px;
}

.search-text {
  text-align: left;
  max-width: 225px;
  min-width: 225px;
}

/* Documentation */
#container-doc {
  text-align: left;
  color: var(--bs-white);
  background: var(--bs-dark);
}

#container-header {
  color: #fff !important;
  background-color: #6c757d !important;
}

#btn-view-repository {
  max-width: 120px;
  min-width: 120px;
  border-color: #f8f9fa;
  color: #f8f9fa;
  background-color: #212529;
}

#btn-view-repository:hover, #btn-view-repository:focus {
  color:var(--bs-dark);
  border-color:var(--bs-white);
  background-color:var(--bs-white);
}

#container-doc img {
  max-width: 100%;
}

/* History */
#container-history-card {
  text-align: left;
  color: var(--bs-white);
  background: var(--bs-dark);
}

#history-card-body {
  color: #fff !important;
  background-color: #6c757d !important;
}

#container-history .btn {
  color: #ffffff;
}

#container-history table td {
  border: 0;
}
#container-history table {
  border: 1px solid;
  border-color:var(--bs-white);
}

#container-history .column-header-anchor, #container-history th {
  cursor:default;
  color:var(--bs-white);
  border-color:var(--bs-white);
  background-color:var(--bs-dark);
}

#container-history .pagination>li>a,#container-history .pagination>li>span {
  position:relative;
  float:left;
  padding:6px 12px;
  line-height:1.42857143;
  text-decoration:none;
  color:var(--bs-white);
  background-color:var(--bs-gray-dark);
  border:1px solid #ddd;
  margin-left:-1px
}

#container-history .pagination>li:first-child>a,#container-history .pagination>li:first-child>span {
  margin-left:0;
  border-bottom-left-radius:4px;
  border-top-left-radius:4px
}

#container-history .pagination>li:last-child>a,#container-history .pagination>li:last-child>span {
  border-bottom-right-radius:4px;
  border-top-right-radius:4px
}

#container-history .pagination>li>a:hover,#container-history .pagination>li>span:hover,#container-history .pagination>li>a:focus,#container-history .pagination>li>span:focus {
  color:var(--bs-dark);
  border-color:var(--bs-white);
  background-color:var(--bs-white);
}

#container-history .pagination>.active>a,#container-history .pagination>.active>span,#container-history .pagination>.active>a:hover,#container-history .pagination>.active>span:hover,#container-history .pagination>.active>a:focus,#container-history .pagination>.active>span:focus {
  z-index:2;
  color:var(--bs-dark);
  background-color:var(--bs-white);
  border-color:var(--bs-white);
  cursor:default;
  font-weight: bold;
}

#container-history .pagination>.disabled>span,#container-history .pagination>.disabled>span:hover,#container-history .pagination>.disabled>span:focus,#container-history .pagination>.disabled>a,#container-history .pagination>.disabled>a:hover,#container-history .pagination>.disabled>a:focus {
  color:#999;
  background-color:var(--bs-dark);
  border-color:var(--bs-white);
  cursor:not-allowed
}

#grid-history {
  --bs-table-bg: #212529;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;
}

/* Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: var(--bs-dark);
}

